@use "vars" as v;

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

html {
  font-family: v.$main-font;
}

body {
  display: flex;
  flex-direction: column;
  background: coral;
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  background: lightgreen;
  height: 8em;
}

.body_container {
  background: lightblue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left_div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 79%;
  width: 25%;
  background-color: v.$green;
}

.h1_cont {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  h1 {
    font-size: 9rem;
  }
}

.p_cont {
  flex-grow: 2;

  p {
    padding-left: 6px;
    font-size: 2.8em;
    font-weight: v.$med;
  }
}

.browse_cont {
  flex-grow: 0;
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 6px;

  h4 {
    flex-grow: 1;
    font-size: 3rem;
  }

  img {
    flex-grow: 2;
  }
}

.right_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75%;
  width: 70%;
  background-color: pink;

  .image {
    width: 32%;
  }

  #img1 {
    background-image: url("/images/oatmeal.jpg");
    background-size: cover;
    margin-left: 2%;
  }

  #img2 {
    background-image: url("/images/pasta.jpg");
    background-size: cover;
  }

  #img3 {
    background-image: url("/images/shrimp.jpg");
    background-size: cover;
    /* ---------------------------- margin-left: 5%; ---------------------------- */
  }
}
