* {
  margin: 0;
  padding: 0;
}

/* -------------------------------- Variables ------------------------------- */

/* --------------------------------- Colors --------------------------------- */
$green: #2ba84a;
$black: #000000;
$white: #ffffff;
$grey: #7f7979;
$red: #3d0c11;

/* ---------------------------------- Fonts --------------------------------- */
$main-font: "Antonio", sans-serif;
/* -------------------------------- Font Size ------------------------------- */
/* ------------------------------- Font Weight ------------------------------ */
$xlight: 200;
$light: 400;
$med: 600;
$larg: 700;
/* ----------------------------------- End ---------------------------------- */
html {
  font-family: $main-font;
}

body {
  display: flex;
  flex-direction: column;
  background: coral;
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  background: lightgreen;
  height: 8em;
}

.body_container {
  background: lightblue;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left_div {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: $green;
}

.h1 {
  font-size: 3rem;
}

.p {
  font-size: 2em;
}

.bottom_left {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.right_div {
  width: 65%;
  background-color: $red;
}
