* {
  margin: 0;
  padding: 0;
}

/* -------------------------------- Variables ------------------------------- */
/* --------------------------------- Colors --------------------------------- */
/* ---------------------------------- Fonts --------------------------------- */
/* -------------------------------- Font Size ------------------------------- */
/* ------------------------------- Font Weight ------------------------------ */
/* ----------------------------------- End ---------------------------------- */
html {
  font-family: "Antonio", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: coral;
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  background: lightgreen;
  height: 8em;
}

.body_container {
  background: lightblue;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  background-color: #2ba84a;
}

.h1 {
  font-size: 3rem;
}

.p {
  font-size: 2em;
}

.bottom_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom_left img {
  margin-left: 1em;
}

.right_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 65%;
  background-color: pink;
}

.imgage {
  height: 100%;
  width: 25%;
  background-image: url("/images/oatmeal.jpg");
  background-size: cover;
}