/* ---------------------------------- Fonts --------------------------------- */
/* -------------------------------- Font Size ------------------------------- */
/* ------------------------------- Font Weight ------------------------------ */
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Antonio", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: coral;
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  background: lightgreen;
  height: 8em;
}

.body_container {
  background: lightblue;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  height: 79%;
  width: 25%;
  background-color: #2ba84a;
}

.h1_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.h1_cont h1 {
  font-size: 9rem;
}

.p_cont {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.p_cont p {
  padding-left: 6px;
  font-size: 2.8em;
  font-weight: 600;
}

.browse_cont {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 6px;
}
.browse_cont h4 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 3rem;
}
.browse_cont img {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.right_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75%;
  width: 70%;
  background-color: pink;
}
.right_div .image {
  width: 32%;
}
.right_div #img1 {
  background-image: url("/images/oatmeal.jpg");
  background-size: cover;
  margin-left: 2%;
}
.right_div #img2 {
  background-image: url("/images/pasta.jpg");
  background-size: cover;
}
.right_div #img3 {
  background-image: url("/images/shrimp.jpg");
  background-size: cover;
  /* ---------------------------- margin-left: 5%; ---------------------------- */
}