/* ----------------------------- base structure ----------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: coral;
}
/* ---------------------------------- styles --------------------------------- */

/* ---------------------------------- Header / Nav ---------------------------------- */

/* ---------------------------- Description Area ---------------------------- */
/* ------------------------------- Image area ------------------------------- */
